@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  position: relative;
  z-index: 21;
  padding: 0px 10px 0px 10px;
}

@media (max-width: 1260px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }
}
body.lock {
  overflow: hidden;
}

header {
  background: url("../img/header/bg.png");
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header:after {
  content: "";
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: 100% 100%;
  background-size: cover;
  mix-blend-mode: normal;
  opacity: 0.65;
}

.header-smoke {
  position: absolute;
  bottom: -25%;
  right: -45%;
  z-index: 4;
}
@media (max-width: 1260px) {
  .header-smoke {
    right: -35%;
    bottom: -25%;
    width: 150%;
  }
}

.header-platform {
  position: absolute;
  bottom: -15%;
  z-index: -1;
  width: 450px;
  left: 8%;
}
@media (max-width: 1260px) {
  .header-platform {
    width: 400px;
  }
}
@media (max-width: 992.98px) {
  .header-platform {
    width: 300px;
  }
}
@media (max-width: 767.98px) {
  .header-platform {
    width: 450px;
    left: 10%;
  }
}
@media (max-width: 500px) {
  .header-platform {
    width: 100%;
    left: 0;
  }
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  position: relative;
}

.header-burger {
  display: none;
  position: relative;
  color: #fff;
}
.header-burger span {
  display: block;
  width: 20px;
  height: 2px;
  background: #FFFFFF;
  border-radius: 8px;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.header-burger span:before {
  content: "";
  width: 20px;
  height: 2px;
  background: #FFFFFF;
  border-radius: 8px;
  position: absolute;
  top: -5px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.header-burger span:after {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  content: "";
  width: 20px;
  height: 2px;
  background: #FFFFFF;
  border-radius: 8px;
  position: absolute;
  top: 5px;
}
@media (max-width: 767.98px) {
  .header-burger {
    display: block;
  }
  .header-burger.active span {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background: none;
  }
  .header-burger.active span:before {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0px;
  }
  .header-burger.active span:after {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0px;
  }
}

.burger-menu__list li a {
  font-family: "Alegreya";
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 54px;
  font-weight: bold;
}

.header-top__item {
  position: relative;
  z-index: 20;
}

.header-logo {
  font-family: "Alegreya";
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
}
.header-logo img {
  max-width: 100px;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-list li {
  margin-left: 61px;
}
.header-list li:last-child {
  margin-left: 76px;
}
@media (max-width: 767.98px) {
  .header-list li:last-child {
    margin-left: 20px;
  }
}
.header-list li a {
  color: #E0E5E9;
  font-family: "PT Sans";
  line-height: 140%;
  font-size: 16px;
}

.header-top__btn {
  font-family: "PT Sans";
  background: -webkit-gradient(linear, left top, left bottom, from(#1EE793), to(#0D995E));
  background: linear-gradient(180deg, #1EE793 0%, #0D995E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 140%;
  border: 1px solid #0D995E;
  border-radius: 4px;
  padding: 9px 35px;
}

.header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -25px;
  padding-top: 10px;
  padding-bottom: 90px;
}
@media (max-width: 1260px) {
  .header-body {
    padding-bottom: 58px;
  }
}
@media (max-width: 767.98px) {
  .header-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 29px;
  }
}

.header-body__item {
  padding: 0 25px;
  position: relative;
}

.header-title {
  background: -webkit-gradient(linear, left top, left bottom, from(#1EE793), to(#0D995E));
  background: linear-gradient(180deg, #1EE793 0%, #0D995E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Alegreya";
  font-weight: bold;
  font-size: 95px;
  line-height: 136px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 7px;
  margin-top: 30px;
  position: relative;
  bottom: -40px;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.header-title._active {
  bottom: 0;
  opacity: 1;
}
@media (max-width: 1260px) {
  .header-title {
    font-size: 60px;
  }
}
@media (max-width: 992.98px) {
  .header-title {
    font-size: 60px;
  }
}
@media (max-width: 767.98px) {
  .header-title {
    font-size: 40px;
    line-height: 50px;
    margin-top: 0;
  }
}

.header-p {
  color: #E0E5E9;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 140%;
  width: 590px;
  margin-bottom: 62px;
  position: relative;
  bottom: -40px;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
}
.header-p._active {
  bottom: 0;
  opacity: 1;
}
@media (max-width: 1260px) {
  .header-p {
    width: 500px;
  }
}
@media (max-width: 992.98px) {
  .header-p {
    width: 400px;
  }
}
@media (max-width: 767.98px) {
  .header-p {
    width: 100%;
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.header-body__btn {
  position: relative;
  bottom: -40px;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0.6s;
  transition: all 0.5s ease 0.6s;
}
.header-body__btn._active {
  bottom: 0;
  opacity: 1;
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#1EE793), to(#0D995E));
  background: linear-gradient(180deg, #1EE793 0%, #0D995E 100%);
  border-radius: 4px;
  font-family: "Alegreya";
  font-size: 18px;
  color: #000000;
  line-height: 140%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 52px;
}
@media (max-width: 767.98px) {
  .btn {
    padding: 12px 90px;
    font-size: 16px;
  }
}

.header-link {
  margin-top: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-link li {
  margin-right: 20.49px;
}
@media (max-width: 767.98px) {
  .header-link {
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1260px) {
  .header-hero {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 767.98px) {
  .header-hero {
    max-width: 300px;
    margin-left: -50px;
  }
}

.burger-menu {
  width: 107%;
  height: 100vh;
  position: absolute;
  bottom: -100vh;
  left: -15px;
  z-index: 10;
  left: -150%;
}
.burger-menu.active {
  left: -15px;
}
.burger-menu.active .burger-menu__body {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  top: 0;
}

.burger-bg {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.burger-menu__body {
  background: -webkit-gradient(linear, left top, left bottom, from(#030A09), to(#083730));
  background: linear-gradient(180deg, #030A09 0%, #083730 100%);
  padding: 67px 0px;
  position: relative;
  z-index: 11;
  color: #fff;
  font-size: 40px;
  text-align: center;
  top: -100%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}